body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    overflow: hidden;
}

.checkbox-container {
    background-color: #333;
    color: white;
    display: flex;
    pointer-events: auto;
}

.checkbox-label {
    padding: 10px;
    cursor: pointer;
}

.checkbox {
    display: none;
}

.checkbox + .menu {
    display: none;
}

.menu {
    display: none;
    background-color: #333;
    color: white;
    border: 1px solid #006400;
    position: absolute;
    z-index: 1001;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.checkbox-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
}

.popup-content {
    text-align: center;
}

.popup-content .description {
    font-size: 16px;
}

.marker-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

#menu1 input[type="checkbox"] {
    display: none;
}
#menu2 input[type="checkbox"] {
    display: none;
}
#menu3 input[type="checkbox"] {
    display: none;
}
#menu4 input[type="checkbox"] {
    display: none;
}
#menu5 input[type="checkbox"] {
    display: none;
}

#menu1 #showAmmoMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}
#menu1 #showSupplyMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}
#menu1 #showToolMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}
#menu1 #showBarrelMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}
#menu1 #showScienceMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}
#menu1 #showStashMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}

#menu2 #showBDMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}
#menu2 #showPDMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}
#menu2 #showFleshMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}
#menu2 #showBoarMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}
#menu2 #showRatMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}
#menu2 #showSnorkMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}
#menu2 #showZombieMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}
#menu2 #showBSMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}
#menu2 #showSBSMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}
#menu2 #showCMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}

#menu3 #showGAMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}
#menu3 #showBAMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}
#menu3 #showTAMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}
#menu3 #showEAMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}
#menu3 #showTrashMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}

#menu4 #showDMMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}

#menu5 #showZombifiedMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}
#menu5 #showBanditsMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}
#menu5 #showMilitaryMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}
#menu5 #showFreedomMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}
#menu5 #showDutyMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}
#menu5 #showMercsMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}
#menu5 #showSinsMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}
#menu5 #showMonolithMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}
#menu5 #showObliteratorMenu:not(:checked) + .checkbox-label {
    text-decoration: line-through;
    color: #888;
}
