body {
    background-color: #1f1f1f;
    color: #fff;
    font-family: Montserrat, Arial, sans-serif; /* Montserrat первым для использования этого шрифта, иначе Arial в качестве резерва */
    font-size: 16px;
    line-height: 1.5; /* Полуторный отступ между строками */
  }
  
  header {
    text-align: center;
    padding: 20px 0;
  }
  
  img {
    width: 50px; /* Размер изображения в панели */
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  .table {
    margin-bottom: 50px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #fff; /* Белые контуры для ячеек таблицы */
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #444; /* Цвет фона заголовков */
  }
  
  .green-text {
    color: #00FF00; /* Зелёный цвет текста */
 }

 .red-text {
    color: #FF0000; /* Красный цвет текста */
 }